@import 'config';
@import 'menu';
@import 'mobile';
@import url('https://fonts.googleapis.com/css?family=Comfortaa:300,400');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@font-face {
    font-family: 'Intro';
    src: url('../font/Intro.otf');
    src: url('../font/Intro.otf') 
    format('opentype');
    font-weight: 400;
    font-style: normal;
  }

::-webkit-scrollbar {
    width: 10px
}

::-webkit-scrollbar-track {
    background: $primary-color;
}

::-webkit-scrollbar-thumb {
    background: $accent-color;
}

::-moz-selection {
    background: $accent-color;
    color: #fff
}

::selection {
    background: $accent-color;
    color: #fff
}

::-moz-selection {
    background: $accent-color;
    color: #fff
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: $primary-color;
    color: set-text-color($primary-color);
    font-family: Comfortaa,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.2;
    overflow-x: hidden;
}

h1,
h2,
h3, 
h4 {
    font-weight: 400;

    &.text-title{
        font-size: 4rem;
        font-size:6vw;
        font-family: Intro,"Helvetica Neue",Helvetica,Arial,sans-serif;
        //@include mediaMd{
        //    font-size: 4rem;
        //}
    }

    &.text-subtitle{
        padding: .2rem 1rem;
        background: rgba(lighten($primary-color, 2), 0.5);
        font-family: Comfortaa, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: $accent-color;
    }
}

a{
    color: #fff;
    text-decoration: none;
}

header{
    position: fixed;
    z-index: 2;
    width: 100%;
}


    

    .home-header{
        //background: rgba(white, .2); //temp
        
        @include background;
        position: relative;
        width: 100%;
        height: 100vh;
        overflow: hidden;

        .home-content{
            //background: #eece1a;
            position: absolute;
            width: 80%;
            height: 70%;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            z-index: 1;
            //overflow-x: hidden;

            @include mediaMd{
                //background: $accent-color;
                width: 70%;
                flex-flow: column-reverse;

            }

            .home-image{
                //background: blueviolet;
                //align-self: end;
                //transform-origin: bottom;
                img{
                    width: 680px;

                    @include mediaMd{
                        width: 350px;
                    }
                }
            }

            .home-text{
                //background: green;
                align-self:flex-end ;
                text-align: right;
                margin-bottom: 50px;

                @include mediaMd{
                    align-self: auto ;
                    text-align: center;
                    margin-bottom: 0px;
                }
            }
        }

        .left-social{
            //background: #eece1a;
            position: absolute;
            height: 450px;
            top: 0;
            bottom: 0;
            left: 15px;
            margin: auto;
            display: flex;
            flex-flow: column-reverse nowrap;
            justify-content: space-around;
            align-items: center;
            z-index: 1;

            a{
                transform-origin: center;
                transform: rotate(-90deg);
                text-align: center;

                &:hover{
                    color: $accent-color;
                    @include easeOut();

                    &:after{
                        opacity: 1;
                        transform: skew(-30deg);
                        @include easeOut2();
                    }
                }

                &:after{
                    content: '';
                    position: absolute;
                    background: white;
                    width: 80%;
                    height: 30px;
                    top: -30%;
                    left: 10%;
                    z-index: -1;
                    opacity: 0;
                }
            }
        }

        .scroll-next{
            //background: #eece1a;
            position: absolute;
            bottom: 0;
            width:auto;
            height:180px;
            right:0;
            display:flex;
            justify-content:center;
            z-index: 1;

            &:hover{
                bottom:-20px;
                @include easeOut();
            }

            a h6{
                transform-origin:center;
                transform:rotate(90deg);
                text-transform:uppercase;
                letter-spacing:2px;
                margin:0 10px 0 0;
                padding-top:0!important
            }

            span{
                width:1.5px;
                height:100px;
                background:#fff;
                position:absolute;
                left:0;
                right:0;
                margin:auto;
                bottom:0
            }
        }
    }

    //portfolio || article
    .card{
        height:100vh;
        position:relative;
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-align:center;
        -ms-flex-align:center;
        align-items:center;
        -webkit-box-pack:center;
        -ms-flex-pack:center;
        justify-content:center;
        z-index:1;

        &:nth-child(odd) {
            .card-img, .card-stroke, .card-number{
                left: 0;
            }

            .card-headline{
                right: 0;
                text-align: right;
            }
        }

        &:nth-child(even) {
            .card-img, .card-stroke, .card-number{
                right: 0;
            }
            .card-headline{
                left: 0;
            }
        }

        .card-link{
            //background: $accent-color;
            text-decoration:none;
            display:block;
            position:relative;
            height:56%;
            width:66.6666666667%;
            z-index:10;

            .card-headline{
                //background: $primary-color;
                position:absolute;
                top:50%;
                -webkit-transform:translateY(-50%);
                transform:translateY(-50%);
                line-height:1;

                .card-title{
                    color: #fff;
                    font-size:64px;
                    font-size:4rem;
                    font-size:6vw;
                    font-family:"Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
                    font-weight:700;
                }
                
                .card-subtitle{
                    color: #fff;
                    font-size:32px;
                    font-size:2rem;
                    font-size:2.5vw;
                    font-family: Comfortaa;
                    font-weight:100;
                }
            }

            .card-stroke{
                background: #fff;
                position:absolute;
                top:100%;
                right:0;
                width:25%;
                height:10px;
            }
            
            .card-number{
                color: #fff;
                position:absolute;
                margin: 0 20px;
                bottom:20px;
                line-height:.75;
                font-size:128px;
                font-size:8rem;
                font-family:Intro,"Helvetica Neue",Helvetica,Arial,sans-serif;
                font-weight:700;
            }

            .card-img{
                position:absolute;
                top:0;
                //right: 0;
                width:75%;
                height:100%;
                z-index:-1;
                background:#000;
                overflow:hidden;

                .card-img-para{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;

                    .imgcrop {
                        //background: darksalmon;
                        position:absolute;
                        top:0;
                        right:0;
                        bottom:0;
                        left:0;
                        opacity: .8;

                        //overflow:hidden;
                        &:hover{
                            opacity: 1;
                            @include easeOut;
                        }
        
                        img {
                            position:absolute;
                            top:50%;
                            left:50%;
                            width:103%;
                            -webkit-transform:translate(-50%,-50%);
                            transform:translate(-50%,-50%);
                        }
                    }
                }
            }
            
        }

        .card-bigtitle{
            position:absolute;
            top:50%;
            left:-9000px;
            right:-9000px;
            text-align:center;
            -webkit-transform:translateY(-55%);
            transform:translateY(-55%);
            font-size:500px;
            font-size:31.25rem;
            white-space:nowrap;
            color:#000;
            opacity:.1;
            font-weight:700;
            font-family:"Montserrat Alternates","Helvetica Neue",Helvetica,Arial,sans-serif;
            text-transform:lowercase;
        }
    }

    .footer{
        background: $primary-color;
        height: 35vh;
        text-align: center;
        padding-top: 40px;
        bottom: 0;

        .text-subtitle{
            background: none;
        }

        button{
            background: $accent-color;
            padding: 15px 20px;
            margin: 30px 0 40px 0;
            border: none;

            h5{
                color: $primary-color;
            }
        }

        .copyright{
            letter-spacing: 2px;
        }
    }

    //about
    .about-header{
        background: #23282a;
        height: 100vh;
        position: relative;
        z-index: 1;

        .abhead-bg-black{
            z-index: 0;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 50%;
            background: #1e1e1e;
            overflow: hidden;

            .abhead-bigtitle{
                z-index: 0;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;

                .abhead-bigtitle-in{
                    font-size: 21vw;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    line-height: .5;
                    white-space: nowrap;
                    color: #1a1a1a;
                    font-family: "Montserrat Alternates", "Helvetica Neue", Helvetica, Arial, sans-serif;
                    font-weight: 700;
                }
            }
        }

        .abhead-bg-white{
            z-index: 0;
            position: absolute;
            top: 50%;
            left: 0;
            bottom: -1px;
            width: 100%;
            background: #fff;
        }

        .abhead-content{
            //background: $accent-color;
            z-index: 10;
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            width: 50%;
            bottom: 0;
            width: 66.6666666667%;
            margin: auto;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;

            .abhead-quote {
                font-size: 42px;
                font-size: 2.625rem;
                font-size: 2.9vw;
                line-height: 1.15;
                font-weight: 300;
                //font-family: Intro, "Helvetica Neue", Helvetica, Arial, sans-serif;
                color: #23282a;

                .abhead-quote-quote{

                    strong {
                        color: $accent-color;
                        font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
                        font-weight: 900
                    }
                }
            }            
        }

        .abhead-photo{
            background: $accent-color;
            position: absolute;
            top: 100px;
            left: 50%;
            right: 8.3333333333%;
            bottom: 0;
            overflow: hidden;

            .abhead-photo-overlay{
                //background: darkgoldenrod;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                //-webkit-transform: translateX(-101%);
                //transform: translateX(-101%);
            }

            .abhead-photo-in {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                //-webkit-transform: translateX(-101%);
                //transform: translateX(-101%);
                overflow: hidden;
                background: #edebec;

                .abhead-photo-para {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;

                    .imgcrop {
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                        overflow: hidden;
        
                        img {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            width: 101%;
                            -webkit-transform: translate(-50%, -50%);
                            transform: translate(-50%, -50%);
                        }
                    }
                }
            }
        }
    }


    //about-content
    .txtbloc {
        padding: 50px 0;
        position: relative;

        &.txtbloc_white{
            background: #fff;
            color: #23282a;
        }

        .txtbloc-item{
            width: 66.6666666667%;
            margin: auto;

            &:not(:last-child) {
                margin-bottom: 100px;
            }
            
            .clearfix{
                display: block;

                &:after {
                    content: ".";
                    display: block;
                    clear: both;
                    visibility: hidden;
                    line-height: 0;
                    height: 0;
                }

                .txtbloc-desc{
                    //background: $accent-color;
                    float: left;
                    width: 75%;
                    padding-right: 100px;

                    .markup{
                        font-size: 16px;
                        font-size: 1rem;
                        line-height: 1.75;

                        & > *{
                            margin-bottom: 20px;
                        }

                        &:last-child{
                            margin-bottom: 0;
                        }

                        & b, & strong{
                            font-weight: 700;
                        }

                        .about-markup-1{
                            font-weight: 700;
                            //font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;

                            strong{
                                color: $accent-color;
                            }
                        }
    
                        .about-markup-2{
                            color: #999;
                        }
                    }
                }
    
                .txtbloc-infos{
                    float: left;
                    width: 25%;
                }

                .txtbloc-skills{
                    float: left;
                    width: 50%;
                }
            }
    
        }
    }

    //general
    .txtbloc-title{
        font-size: 52px;
        font-size: 3.25rem;
        font-size: 3.5vw;
        font-weight: 900;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        margin-bottom: 1em;
        line-height: 1;
    }

    .infotxt{
        font-size: 14px;
        font-size: .875rem;
        line-height: 1.5;

        &:not(:last-child){
            margin-bottom: 2em;
        }
    }

    .infotxt-title{
        color: #000;
        text-transform: uppercase;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 700;
        position: relative;
        padding-left: 16px;

        & span{
            display: block;
            width: 12px;
            height: 2px;
            background: $accent-color;
            position: absolute;
            top: .7em;
            left: 0;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
        }
    }

    .infotxt-markup{
        //font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 500;
        color: #999;

        &.infotxt-markup_contact a{
            white-space: nowrap;
        }

        & a{
            color: $accent-color;
            text-decoration: none;
            -webkit-transition: .25s;
            transition: .25s;
            padding: 3px 10px 3px 3px
        }

        & a:hover{
            color: white;
            background: $accent-color;
        }
        
    }


    //contact

    .contact{
        //background: #999;
        width: 100%;
        height:100vh;
        position:relative;
        z-index:1;

        .cntc-content{
            //background: $accent-color;
            text-decoration:none;
            position: absolute;
            height:50%;
            width:50%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index:10;
            text-align: center;

            h3{
                margin: 20px 0;
            }
            

            .txtbloc-title{
                //color: yellow;
                font-size: 7rem;
                margin-bottom: 0.5em;
                transform: rotate(-5deg);
            }

            .cntc-detail{
                line-height: 1.5;

                .infotxt-markup{
                    color: $accent-color;

                    & a{
                        padding: 0 10px;
                    }
                }

                i{  
                    margin-top: 25px;
                    font-size: 1.5rem;

                    &:hover{
                        color: $accent-color;
                        @include easeOut;
                    }
                }

            }
        }

    }